p{
    color: blue;
    background-color: rgb(20, 187, 220);
    text-align: center;
    
}
.p{
        color: chartreuse;
        background-color: blue;
        
     }
#ak{
    font-size: x-large;
}